NODE_ENV=development
PORT=8080
HOST=0.0.0.0

MONGODB_DB_NAME=expenseclaim

FIREBASE_PROJECT_ID=expense-bktcorp
FIREBASE_WEB_API_KEY=replace-with-firebase-web-api-key
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@expense-bktcorp.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nreplace-me\\n-----END PRIVATE KEY-----\\n"
R2_PUBLIC_URL=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=

MONGODB_URI=mongodb+srv://swetabhkumar:Swetabh%401234@tada.repyjd2.mongodb.net/tada?retryWrites=true&w=majority&appName=TADA
JWT_SECRET=3bas2131jasjdaas11klscmppti2
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
